* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

HTML {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: rgb(76, 76, 76);
    text-decoration: none;
    font-size: 25px;
    margin: auto;
}

.start {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 45px;

}

.start img {
    margin-top: -5px;
}

.center {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.end img {
    margin-top: 2px;
}

.end {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin-right: 45px;
}

.end span {
    font-size: 60px;
}

h1 {
    margin-left: 80px;
    margin-top: 25px;
    color: rgb(76, 76, 76);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    height: 100vh;
    width: 70%;
    justify-content: space-between;
}

.cart {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 50px;
}

.box {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;
    display: flex;
    width: 550px;
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
    height: 220px;

}

.box2 {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;
    display: flex;
    width: 550px;
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 40px;
    height: 220px;
}

.product1 {
    width: 550px;
    display: flex;
    justify-content: center;

}

.img {
    float: left;
    align-items: center;
    display: flex;
    justify-items: center;
    width: 60px;

}

.product1info1 {
    display: flex;
    flex-direction: column;
    width: 180px;
    justify-content: center;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgb(252, 185, 136), rgb(255, 226, 131));
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.product1info2 {
    float: right;
    width: 200px;
    padding-right: 30px;
    justify-content: center;
    padding-left: 35px;
    padding-top: 20px;
    font-size: 18px;
    color: rgb(98, 98, 98);
    font-weight: bold;
}

.star {
    display: flex;
    height: 20px;
    gap: 3px;
    margin-top: 25px;
    margin-bottom: 55px; 
}

.orderinfo {
    float: right;
    width: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    border: 0.5px solid rgb(206, 206, 206);
    border-radius: 10px;
    gap: 30px;
    height: 400px;
    color: rgb(76, 76, 76);
    font-size: 18px;

}

input {
    margin-left: 5px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 0.5px solid;
    border-radius: 8px;
}

span {
    float: right;

}

.lv {
    margin-left: 10px;
    margin-bottom: 10px;
}

select {
    font-size: 15px;
}

b {
    margin: 10px;
    float: right;
}

.apply {
    width: 130px;
    height: 40px;
    position: relative;
    bottom: 10px;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(67, 255, 192);
    border: 2px solid rgb(67, 255, 192);
    font-size: 16px;
}
.login {
    background-color:  rgb(67, 255, 192);
    color: rgb(69, 69, 69);
    border: none;
    border-radius: 8px;
    height: 45px;
    font-size: 16px;

}